body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    padding: 5rem;
    width: 80%;
    background-color: darkcyan;
    color: white;
}

.content {
    width: 50%;
}